# Limpieza de datos

In [28]:
import pandas as pd
import numpy as np

## <span style="color:blue">Indicador Edad</span>

In [29]:
# Lectura del Excel Edad
dfEdad = pd.read_excel('../../data_preprocesada_N2/edad_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfEdadSeleccionado = dfEdad[['RANGO_EDAD',
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'NRO_PERSONAS', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD']]

# Estandariza valor Rango Edad
dfEdadSeleccionado.loc[dfEdadSeleccionado['RANGO_EDAD'] == 'De 0 a 14 años', 'RANGO_EDAD'] = '0-14'
dfEdadSeleccionado.loc[dfEdadSeleccionado['RANGO_EDAD'] == 'De 15 a 29', 'RANGO_EDAD'] = '15-29'
dfEdadSeleccionado.loc[dfEdadSeleccionado['RANGO_EDAD'] == 'De 30 a 44', 'RANGO_EDAD'] = '30-44'
dfEdadSeleccionado.loc[dfEdadSeleccionado['RANGO_EDAD'] == 'De 45 a 64', 'RANGO_EDAD'] = '45-64'
dfEdadSeleccionado.loc[dfEdadSeleccionado['RANGO_EDAD'] == 'De 65 a 79', 'RANGO_EDAD'] = '65-79'
dfEdadSeleccionado.loc[dfEdadSeleccionado['RANGO_EDAD'] == 'De 80 y + ', 'RANGO_EDAD'] = '>=80'

In [30]:
# Número de filas
print('Número de Filas: ', dfEdadSeleccionado.shape[0])

Número de Filas:  3216

In [31]:
# Calcular el número de valores "missing values" de cada variable.
dfEdadSeleccionado.isna().sum()

RANGO_EDAD         0
COD_DISBAR      1008
BARRIOS            0
NRO_PERSONAS     468
ANIO               0
LATITUD         1008
LONGITUD        1008
dtype: int64

In [32]:
# Elimina "missing values"
dfEdadSeleccionado = dfEdadSeleccionado.dropna()

In [33]:
# Calcular el número de valores "missing values" de cada variable.
dfEdadSeleccionado.isna().sum()

RANGO_EDAD      0
COD_DISBAR      0
BARRIOS         0
NRO_PERSONAS    0
ANIO            0
LATITUD         0
LONGITUD        0
dtype: int64

In [34]:
print('Número de Filas: ', dfEdadSeleccionado.shape[0])

Número de Filas:  2208

In [35]:
#Verifica información del dataset
dfEdadSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2208 entries, 6 to 3215
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   RANGO_EDAD    2208 non-null   object
 1   COD_DISBAR    2208 non-null   float64
 2   BARRIOS       2208 non-null   object
 3   NRO_PERSONAS  2208 non-null   float64
 4   ANIO          2208 non-null   int64
 5   LATITUD       2208 non-null   float64
 6   LONGITUD      2208 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 138.0+ KB

In [36]:
# Escribe excel en nivel 3

# Selecciona dataset para mayores de 65 anios
# dfEdadClean = dfEdadSeleccionado[dfEdadSeleccionado['RANGO_EDAD'].isin(['65-79', '>=80'])]
dfEdadClean = dfEdadSeleccionado[dfEdadSeleccionado['RANGO_EDAD'].isin(['15-29', '30-44'])]

dfEdadClean = dfEdadClean.groupby(['COD_DISBAR', 'BARRIOS', 'ANIO', 'LATITUD', 'LONGITUD'],as_index=False).sum()
dfEdadClean = dfEdadClean.astype({"COD_DISBAR":'int'}) 

dfEdadClean.to_csv('../../data_preprocesada_N3/clean_edad_barrios_menores65.csv', index=False)

## <span style="color:blue">Indicador Renta</span>

In [4]:
# Lectura del Excel Renta
dfRenta = pd.read_excel('../../data_preprocesada_N2/renta_neta_media_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfRentaSeleccionado = dfRenta[[
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'RENTA_MEDIA', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD']]

,COD_DISBAR,BARRIOS,RENTA_MEDIA,ANIO,LATITUD,LONGITUD
0,NaN,CENTRO,NaN,2016,NaN,NaN
1,11.0,PALACIO,31912.671137,2016,4474110.875,439417.7914
2,12.0,EMBAJADORES,23917.971606,2016,4473417.211,440397.1764
3,13.0,CORTES,32410.562593,2016,4474035.577,440880.1521
4,14.0,JUSTICIA,36413.535887,2016,4475014.208,440900.7625
...,...,...,...,...,...,...
531,211.0,ALAMEDA DE OSUNA,25366.000000,2019,4478581.448,449818.2184
532,212.0,AEROPUERTO,41635.743263,2019,4481029.075,452237.8537
533,213.0,CASCO HISTÓRICO DE BARAJAS,37427.000000,2019,4480530.185,450931.3676
534,214.0,TIMÓN,41584.000000,2019,4480810.557,448842.3002
535,215.0,CORRALEJOS,31866.000000,2019,4479457.295,448527.2781

In [7]:
# Número de filas
print('Número de Filas: ', dfRentaSeleccionado.shape[0])

Número de Filas:  536

In [8]:
# Calcular el número de valores "missing values" de cada variable.
dfRentaSeleccionado.isna().sum()

COD_DISBAR     168
BARRIOS          0
RENTA_MEDIA    103
ANIO             0
LATITUD        168
LONGITUD       168
dtype: int64

In [9]:
# Elimina "missing values"
dfRentaSeleccionado = dfRentaSeleccionado.dropna()

In [10]:
# Calcular el número de valores "missing values" de cada variable.
dfRentaSeleccionado.isna().sum()

COD_DISBAR     0
BARRIOS        0
RENTA_MEDIA    0
ANIO           0
LATITUD        0
LONGITUD       0
dtype: int64

In [11]:
print('Número de Filas: ', dfRentaSeleccionado.shape[0])

Número de Filas:  365

In [12]:
#Verifica información del dataset
dfRentaSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 1 to 535
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COD_DISBAR   365 non-null    float64
 1   BARRIOS      365 non-null    object
 2   RENTA_MEDIA  365 non-null    float64
 3   ANIO         365 non-null    int64
 4   LATITUD      365 non-null    float64
 5   LONGITUD     365 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 20.0+ KB

In [15]:
# Escribe excel en nivel 3

# Save dataset para rentas
dfRentaSeleccionado = dfRentaSeleccionado.astype({"COD_DISBAR":'int'}) 
dfRentaSeleccionado['RENTA_MEDIA'] = dfRentaSeleccionado['RENTA_MEDIA'].round(decimals=2)

dfRentaSeleccionado.to_csv('../../data_preprocesada_N3/clean_renta_barrios.csv', index=False)

## <span style="color:blue">Indicador Extranjeros</span>

In [17]:
# Lectura del Excel Extranjeros
dfExtranjeros = pd.read_excel('../../data_preprocesada_N2/nro_extranjeros_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfExtranjerosSeleccionado = dfExtranjeros[[
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'NRO_PERSONAS', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD']]

In [19]:
# Número de filas
print('Número de Filas: ', dfExtranjerosSeleccionado.shape[0])

Número de Filas:  536

In [20]:
# Calcular el número de valores "missing values" de cada variable.
dfExtranjerosSeleccionado.isna().sum()

COD_DISBAR      168
BARRIOS           0
NRO_PERSONAS     79
ANIO              0
LATITUD         168
LONGITUD        168
dtype: int64

In [21]:
# Elimina "missing values"
dfExtranjerosSeleccionado = dfExtranjerosSeleccionado.dropna()

In [26]:
# Calcular el número de valores "missing values" de cada variable.
dfExtranjerosSeleccionado.isna().sum()

COD_DISBAR      0
BARRIOS         0
NRO_PERSONAS    0
ANIO            0
LATITUD         0
LONGITUD        0
dtype: int64

In [27]:
print('Número de Filas: ', dfExtranjerosSeleccionado.shape[0])

Número de Filas:  368

In [28]:
#Verifica información del dataset
dfExtranjerosSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 368 entries, 1 to 535
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COD_DISBAR    368 non-null    float64
 1   BARRIOS       368 non-null    object
 2   NRO_PERSONAS  368 non-null    float64
 3   ANIO          368 non-null    int64
 4   LATITUD       368 non-null    float64
 5   LONGITUD      368 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 20.1+ KB

In [29]:
# Escribe excel en nivel 3

# Save dataset para extranjeros
dfExtranjerosSeleccionado = dfExtranjerosSeleccionado.astype({"COD_DISBAR":'int'}) 
dfExtranjerosSeleccionado['NRO_PERSONAS'] = dfExtranjerosSeleccionado['NRO_PERSONAS'].round(decimals=2)

dfExtranjerosSeleccionado.to_csv('../../data_preprocesada_N3/clean_extranjeros_barrios.csv', index=False)

## <span style="color:blue">Indicador Nro. Habitantes por vivienda</span>

In [2]:
# Lectura del Excel Media de Habitantes Vivienda
dfNroHabitantes = pd.read_excel('../../data_preprocesada_N2/size_medio_hogares_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfNroHabitantesSeleccionado = dfNroHabitantes[[
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'NRO_MEDIA_PERSONAS', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD']]

In [3]:
# Número de filas
print('Número de Filas: ', dfNroHabitantesSeleccionado.shape[0])

Número de Filas:  536

In [4]:
# Calcular el número de valores "missing values" de cada variable.
dfNroHabitantesSeleccionado.isna().sum()

COD_DISBAR            168
BARRIOS                 0
NRO_MEDIA_PERSONAS     74
ANIO                    0
LATITUD               168
LONGITUD              168
dtype: int64

In [5]:
# Elimina "missing values"
dfNroHabitantesSeleccionado = dfNroHabitantesSeleccionado.dropna()

In [6]:
# Calcular el número de valores "missing values" de cada variable.
dfNroHabitantesSeleccionado.isna().sum()

COD_DISBAR            0
BARRIOS               0
NRO_MEDIA_PERSONAS    0
ANIO                  0
LATITUD               0
LONGITUD              0
dtype: int64

In [7]:
print('Número de Filas: ', dfNroHabitantesSeleccionado.shape[0])

Número de Filas:  368

In [8]:
#Verifica información del dataset
dfNroHabitantesSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 368 entries, 1 to 535
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   COD_DISBAR          368 non-null    float64
 1   BARRIOS             368 non-null    object
 2   NRO_MEDIA_PERSONAS  368 non-null    float64
 3   ANIO                368 non-null    int64
 4   LATITUD             368 non-null    float64
 5   LONGITUD            368 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 20.1+ KB

In [9]:
# Escribe excel en nivel 3

# Save dataset para Nro. de Personas por habitacion
dfNroHabitantesSeleccionado = dfNroHabitantesSeleccionado.astype({"COD_DISBAR":'int'}) 
dfNroHabitantesSeleccionado['NRO_MEDIA_PERSONAS'] = dfNroHabitantesSeleccionado['NRO_MEDIA_PERSONAS'].round(decimals=2)

dfNroHabitantesSeleccionado.to_csv('../../data_preprocesada_N3/clean_habitantes_vivienda_barrios.csv', index=False)

## <span style="color:blue">Indicador Nro. Desempleados</span>

In [10]:
# Lectura del Excel Desempelados
dfDesempleados = pd.read_excel('../../data_preprocesada_N2/desempleados_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfDesempleadosSeleccionado = dfDesempleados[[
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'NRO_PERSONAS', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD']]

In [11]:
# Número de filas
print('Número de Filas: ', dfDesempleadosSeleccionado.shape[0])

Número de Filas:  536

In [12]:
# Calcular el número de valores "missing values" de cada variable.
dfDesempleadosSeleccionado.isna().sum()

COD_DISBAR      168
BARRIOS           0
NRO_PERSONAS     78
ANIO              0
LATITUD         168
LONGITUD        168
dtype: int64

In [13]:
# Elimina "missing values"
dfDesempleadosSeleccionado = dfDesempleadosSeleccionado.dropna()

In [14]:
# Calcular el número de valores "missing values" de cada variable.
dfDesempleadosSeleccionado.isna().sum()

COD_DISBAR      0
BARRIOS         0
NRO_PERSONAS    0
ANIO            0
LATITUD         0
LONGITUD        0
dtype: int64

In [15]:
print('Número de Filas: ', dfDesempleadosSeleccionado.shape[0])

Número de Filas:  368

In [16]:
#Verifica información del dataset
dfDesempleadosSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 368 entries, 1 to 535
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   COD_DISBAR    368 non-null    float64
 1   BARRIOS       368 non-null    object
 2   NRO_PERSONAS  368 non-null    float64
 3   ANIO          368 non-null    int64
 4   LATITUD       368 non-null    float64
 5   LONGITUD      368 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 20.1+ KB

In [17]:
# Escribe excel en nivel 3

# Save dataset para Desempleados
dfDesempleadosSeleccionado = dfDesempleadosSeleccionado.astype({"COD_DISBAR":'int'}) 
dfDesempleadosSeleccionado['NRO_PERSONAS'] = dfDesempleadosSeleccionado['NRO_PERSONAS'].round(decimals=2)

dfDesempleadosSeleccionado.to_csv('../../data_preprocesada_N3/clean_desempleados_barrios.csv', index=False)

## <span style="color:blue">Indicador Nro. Precio viviendas</span>

In [74]:
# Lectura del Excel Desempelados
dfPrecioVivienda = pd.read_excel('../../data_preprocesada_N2/precio_vivienda_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfPrecioViviendaSeleccionado = dfPrecioVivienda[[
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'TIPO_VIVIENDA',
                        'PRECIO(EUROS/M2)', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD']]

In [75]:
# Número de filas
print('Número de Filas: ', dfPrecioViviendaSeleccionado.shape[0])

Número de Filas:  906

In [76]:
# Calcular el número de valores "missing values" de cada variable.
dfPrecioViviendaSeleccionado.isna().sum()

COD_DISBAR          134
BARRIOS               0
TIPO_VIVIENDA         0
PRECIO(EUROS/M2)      0
ANIO                  0
LATITUD             134
LONGITUD            134
dtype: int64

In [77]:
# Elimina "missing values"
dfPrecioViviendaSeleccionado = dfPrecioViviendaSeleccionado.dropna()

In [78]:
# Calcular el número de valores "missing values" de cada variable.
dfPrecioViviendaSeleccionado.isna().sum()

COD_DISBAR          0
BARRIOS             0
TIPO_VIVIENDA       0
PRECIO(EUROS/M2)    0
ANIO                0
LATITUD             0
LONGITUD            0
dtype: int64

In [79]:
print('Número de Filas: ', dfPrecioViviendaSeleccionado.shape[0])

Número de Filas:  772

In [80]:
#Verifica información del dataset
dfPrecioViviendaSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 772 entries, 1 to 905
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   COD_DISBAR        772 non-null    float64
 1   BARRIOS           772 non-null    object
 2   TIPO_VIVIENDA     772 non-null    object
 3   PRECIO(EUROS/M2)  772 non-null    object
 4   ANIO              772 non-null    int64
 5   LATITUD           772 non-null    float64
 6   LONGITUD          772 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 48.2+ KB

In [81]:
#  Escribe excel en nivel 3

# Save dataset para Desempleados
dfPrecioViviendaSeleccionado = dfPrecioViviendaSeleccionado.astype({"COD_DISBAR":'int'}) 
# Cast object to float
dfPrecioViviendaSeleccionado['PRECIO(EUROS/M2)'] = (dfPrecioViviendaSeleccionado['PRECIO(EUROS/M2)'].str.split()).apply(lambda x: float(x[0].replace('.', '').replace(',', '.')))

dfPrecioViviendaSeleccionado = dfPrecioViviendaSeleccionado.astype({'PRECIO(EUROS/M2)':'float'})

dfPrecioViviendaSeleccionado['PRECIO(EUROS/M2)'] = dfPrecioViviendaSeleccionado['PRECIO(EUROS/M2)'].round(decimals=2)

# Dataset para viviendas nuevas
dfPrecioViviendaNueva = dfPrecioViviendaSeleccionado[dfPrecioViviendaSeleccionado['TIPO_VIVIENDA'].isin(['NUEVAS'])]
dfPrecioViviendaNueva.to_csv('../../data_preprocesada_N3/clean_precios_vivienda_nuevas_barrios.csv', index=False)

# Dataset para viviendas usadas
dfPrecioViviendaUsada = dfPrecioViviendaSeleccionado[dfPrecioViviendaSeleccionado['TIPO_VIVIENDA'].isin(['USADAS'])]
dfPrecioViviendaUsada.to_csv('../../data_preprocesada_N3/clean_precios_vivienda_usadas_barrios.csv', index=False)

## <span style="color:blue">Indicador Nivel Educación</span>

In [184]:
# Lectura del Excel Desempelados
dfNivelEducacion = pd.read_excel('../../data_preprocesada_N2/nivel_educación_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfNivelEducacionSeleccionado = dfNivelEducacion[[
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'NIVELES_EDUCACION',
                        'NRO_PERSONAS', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD']]

# Estandariza valor Rango Edad
dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'No sabe leer ni escribir, sin estudios o primaria incompleta', 'NIVELES_EDUCACION'] = 'SIN ESTUDIOS'
dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'No sabe leer ni escribir o sin estudios', 'NIVELES_EDUCACION'] = 'SIN ESTUDIOS'

dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'Bachiller Elemental, Graduado Escolar, ESO,Formación profesional primer grado', 'NIVELES_EDUCACION'] = 'SEGUNDO NIVEL'
dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'Bachiller Elemental, Graduado Escolar, ESO, Formación profesional 1º grado', 'NIVELES_EDUCACION'] = 'SEGUNDO NIVEL'

dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'Formación profesional 2º grado, Bachiller Superior o BUP', 'NIVELES_EDUCACION'] = 'SEGUNDO NIVEL'

dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'Titulados medios, Diplomados, Arquitecto o Ingeniero Técnico', 'NIVELES_EDUCACION'] = 'TERCER NIVEL Y SUPERIORES'
dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'Titulados medios, diplomados, arquitecto o ingeniero técnico', 'NIVELES_EDUCACION'] = 'TERCER NIVEL Y SUPERIORES'

dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'Estudios superiores, licenciado, Arquitecto o Ingeniero, estudios superiores no universitarios, doctorado, estudios postgraduados', 'NIVELES_EDUCACION'] = 'TERCER NIVEL Y SUPERIORES'
dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'Estudios superiores, licenciado, arquitecto o ingeniero superior, estudios superiores no universitarios, doctorado, estudios postgraduados', 'NIVELES_EDUCACION'] = 'TERCER NIVEL Y SUPERIORES'

dfNivelEducacionSeleccionado.loc[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'] == 'Primaria incompleta', 'NIVELES_EDUCACION'] = 'SIN ESTUDIOS'

In [185]:
# Número de filas
print('Número de Filas: ', dfNivelEducacionSeleccionado.shape[0])

Número de Filas:  3055

In [186]:
# Calcular el número de valores "missing values" de cada variable.
dfNivelEducacionSeleccionado.isna().sum()

COD_DISBAR           973
BARRIOS                0
NIVELES_EDUCACION      0
NRO_PERSONAS         456
ANIO                   0
LATITUD              973
LONGITUD             973
dtype: int64

In [187]:
# Elimina "missing values"
dfNivelEducacionSeleccionado = dfNivelEducacionSeleccionado.dropna()

In [188]:
# Calcular el número de valores "missing values" de cada variable.
dfNivelEducacionSeleccionado.isna().sum()

COD_DISBAR           0
BARRIOS              0
NIVELES_EDUCACION    0
NRO_PERSONAS         0
ANIO                 0
LATITUD              0
LONGITUD             0
dtype: int64

In [189]:
print('Número de Filas: ', dfNivelEducacionSeleccionado.shape[0])

Número de Filas:  2082

In [190]:
#Verifica información del dataset
dfNivelEducacionSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2082 entries, 5 to 3054
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COD_DISBAR         2082 non-null   float64
 1   BARRIOS            2082 non-null   object
 2   NIVELES_EDUCACION  2082 non-null   object
 3   NRO_PERSONAS       2082 non-null   float64
 4   ANIO               2082 non-null   int64
 5   LATITUD            2082 non-null   float64
 6   LONGITUD           2082 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 130.1+ KB

In [191]:
# Escribe excel en nivel 3

# Selecciona dataset para educación superior
dfNvlEduClean = dfNivelEducacionSeleccionado[dfNivelEducacionSeleccionado['NIVELES_EDUCACION'].isin(['TERCER NIVEL Y SUPERIORES'])]
dfNvlEduClean = dfNvlEduClean.groupby(['COD_DISBAR', 'BARRIOS', 'ANIO', 'LATITUD', 'LONGITUD'],as_index=False).sum()
dfNvlEduClean = dfNvlEduClean.astype({"COD_DISBAR":'int'}) 

dfNvlEduClean.to_csv('../../data_preprocesada_N3/clean_edu_superior_barrios.csv', index=False)

## <span style="color:blue">Indicador Hospedaje </span>

In [61]:
# Lectura del Excel Desempelados
dfHospedeja = pd.read_excel('../../data_preprocesada_N2/hospedaje_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfHospedejaSeleccionado = dfHospedeja[[
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD', 'LATITUD_H', 'LONGITUD_H']]

In [62]:
# Número de filas
print('Número de Filas: ', dfHospedejaSeleccionado.shape[0])

Número de Filas:  15369

In [63]:
# Calcular el número de valores "missing values" de cada variable.
dfHospedejaSeleccionado.isna().sum()

COD_DISBAR    32
BARRIOS        0
ANIO           0
LATITUD       32
LONGITUD      32
LATITUD_H      0
LONGITUD_H     0
dtype: int64

In [64]:
# Elimina "missing values"
dfHospedejaSeleccionado = dfHospedejaSeleccionado.dropna()

In [65]:
# Calcular el número de valores "missing values" de cada variable.
dfHospedejaSeleccionado.isna().sum()

COD_DISBAR    0
BARRIOS       0
ANIO          0
LATITUD       0
LONGITUD      0
LATITUD_H     0
LONGITUD_H    0
dtype: int64

In [66]:
print('Número de Filas: ', dfHospedejaSeleccionado.shape[0])

Número de Filas:  15337

In [67]:
#Verifica información del dataset
dfHospedejaSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15337 entries, 0 to 15367
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COD_DISBAR  15337 non-null  float64
 1   BARRIOS     15337 non-null  object
 2   ANIO        15337 non-null  int64
 3   LATITUD     15337 non-null  float64
 4   LONGITUD    15337 non-null  float64
 5   LATITUD_H   15337 non-null  float64
 6   LONGITUD_H  15337 non-null  float64
dtypes: float64(5), int64(1), object(1)
memory usage: 958.6+ KB

In [68]:
# Escribe excel en nivel 3

# Eliminar duplicados hospedaje 2016
dfHospedajeClean2016 = dfHospedejaSeleccionado[dfHospedejaSeleccionado['ANIO'].isin([2016])]
dfHospedajeClean2016 = dfHospedajeClean2016.drop_duplicates(subset=['LATITUD_H', 'LONGITUD_H'])

# Eliminar duplicados hospedaje 2018
dfHospedajeClean2018 = dfHospedejaSeleccionado[dfHospedejaSeleccionado['ANIO'].isin([2018])]
dfHospedajeClean2018 = dfHospedajeClean2018.drop_duplicates(subset=['LATITUD_H', 'LONGITUD_H'])

# Eliminar duplicados hospedaje 2019
dfHospedajeClean2019 = dfHospedejaSeleccionado[dfHospedejaSeleccionado['ANIO'].isin([2019])]
dfHospedajeClean2019 = dfHospedajeClean2019.drop_duplicates(subset=['LATITUD_H', 'LONGITUD_H'])

dfHospedajeCleanSelect = pd.DataFrame()
lstFrames = [dfHospedajeClean2016, dfHospedajeClean2018, dfHospedajeClean2019]
dfHospedajeCleanSelect = pd.concat(lstFrames)

# Contea datset numero de hospedajes por barrio y anio
dfHospedajeClean = dfHospedajeCleanSelect.groupby(['COD_DISBAR', 'BARRIOS', 'ANIO']).size().reset_index(name='NRO_HOSPEDAJES')
dfHospedajeClean = dfHospedajeClean.astype({"COD_DISBAR":'int'}) 

dfHospedajeClean.to_csv('../../data_preprocesada_N3/clean_hospedaje_barrios.csv', index=False)

## <span style="color:blue">Indicador Terrazas </span>

In [79]:
# Lectura del Excel Desempelados
dfTerrazas = pd.read_excel('../../data_preprocesada_N2/terrazas_barrios_madrid.xlsx')

# # Selecciona columnas importantes
dfTerrazasSeleccionado = dfTerrazas[[
                        'COD_DISBAR', 
                        'BARRIOS', 
                        'ANIO', 
                        'LATITUD', 
                        'LONGITUD', 'LATITUD_T', 'LONGITUD_T']]

In [80]:
# Número de filas
print('Número de Filas: ', dfTerrazasSeleccionado.shape[0])

Número de Filas:  10692

In [81]:
# Calcular el número de valores "missing values" de cada variable.
dfTerrazasSeleccionado.isna().sum()

COD_DISBAR    108
BARRIOS         0
ANIO            0
LATITUD       108
LONGITUD      108
LATITUD_T       0
LONGITUD_T      0
dtype: int64

In [82]:
# Elimina "missing values"
dfTerrazasSeleccionado = dfTerrazasSeleccionado.dropna()

In [83]:
# Calcular el número de valores "missing values" de cada variable.
dfTerrazasSeleccionado.isna().sum()

COD_DISBAR    0
BARRIOS       0
ANIO          0
LATITUD       0
LONGITUD      0
LATITUD_T     0
LONGITUD_T    0
dtype: int64

In [84]:
print('Número de Filas: ', dfTerrazasSeleccionado.shape[0])

Número de Filas:  10584

In [85]:
#Verifica información del dataset
dfTerrazasSeleccionado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10584 entries, 0 to 10690
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   COD_DISBAR  10584 non-null  float64
 1   BARRIOS     10584 non-null  object
 2   ANIO        10584 non-null  int64
 3   LATITUD     10584 non-null  float64
 4   LONGITUD    10584 non-null  float64
 5   LATITUD_T   10584 non-null  object
 6   LONGITUD_T  10584 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 661.5+ KB

In [86]:
# Escribe excel en nivel 3

# Eliminar duplicados 2016
dfTerrazaClean2016 = dfTerrazasSeleccionado[dfTerrazasSeleccionado['ANIO'].isin([2016])]
dfTerrazaClean2016 = dfTerrazaClean2016.drop_duplicates(subset=['LATITUD_T', 'LONGITUD_T'])

# Eliminar duplicados 2018
dfTerrazaClean2018 = dfTerrazasSeleccionado[dfTerrazasSeleccionado['ANIO'].isin([2018])]
dfTerrazaClean2018 = dfTerrazaClean2018.drop_duplicates(subset=['LATITUD_T', 'LONGITUD_T'])

# Eliminar duplicados 2019
dfTerrazaClean2019 = dfTerrazasSeleccionado[dfTerrazasSeleccionado['ANIO'].isin([2019])]
dfTerrazaClean2019 = dfTerrazaClean2019.drop_duplicates(subset=['LATITUD_T', 'LONGITUD_T'])

dfTerrazaCleanSelect = pd.DataFrame()
lstFrames = [dfTerrazaClean2016, dfTerrazaClean2018, dfTerrazaClean2019]
dfTerrazaCleanSelect = pd.concat(lstFrames)

# Contea datset numero de hospedajes por barrio y anio
dfTerrazaClean = dfTerrazaCleanSelect.groupby(['COD_DISBAR', 'BARRIOS', 'ANIO']).size().reset_index(name='NRO_TERRAZAS')
dfTerrazaClean = dfTerrazaClean.astype({"COD_DISBAR":'int'}) 

dfHospedajeClean.to_csv('../../data_preprocesada_N3/clean_terrazas_barrios.csv', index=False)