In [26]:
import pandas as pd

In [113]:
#Función para lectura iterativa de excel
def iteracion_callback(df):
    dfPreProcesadoFull = pd.DataFrame()
    i = 0
    contYear = 0
    contador_x = 0
    contador_y = 172
    while i < 3:
    # while i < 1:
        # Inicializa dataframes
        dfAux = pd.DataFrame()
        dfPreProcesado = pd.DataFrame()
        # Inicializa iteradores
        contadorX = contador_x + 2
        contadorY = contadorX + contador_y
        dfAux = df[contadorX:contadorY]
        dfAux.reset_index(inplace=True, drop=True)
        # Agrega columna anio
        dfAux['ANIO'] = (2018+contYear)
        # Renombrar categorias
        dfAux = dfAux.rename(columns = {'Sin estudios': 'SIN ESTUDIOS A',
                                        'No sabe leer ni escribir': 'SIN ESTUDIOS B',
                                        'Enseñanza primaria incompleta': 'ESTUDIOS PRIMARIOS',
                                        'Bachiller elemental, Graduado escolar, E.S.O.': 'ESTUDIOS SECUNDARIOS A',
                                        'Formación profesional 1er grado': 'ESTUDIOS SECUNDARIOS D',
                                        'Formación profesional 2º grado': 'ESTUDIOS SUPERIORES B',
                                        'Bachiller superior, B.U.P.': 'ESTUDIOS SECUNDARIOS B',
                                        'Otros titulados medios': 'ESTUDIOS SECUNDARIOS C',
                                        'Diplomado Escuela universitaria': 'ESTUDIOS SUPERIORES C',
                                        'Arquitecto o Ingeniero técnico': 'ESTUDIOS SUPERIORES D',
                                        'Licenciado universitario, Arquitecto o Ingeniero': 'ESTUDIOS SUPERIORES E',
                                        'Titulado estudios superiores no universitarios': 'ESTUDIOS SUPERIORES F',                             
                                        'Doctorado o Estudios postgraduados': 'ESTUDIOS SUPERIORES G',                                                          
                                        'Desconocido y No consta': 'DESCONOCIDO'},                                                                                                   
                             inplace = False)

        auxBarrio = dfAux['BARRIO'].str.split('\. ', 1, expand=True)
        dfAux['BARRIO'] = auxBarrio[1]
        # SUMA COLUMNAS SIMILARES
        columns_list = ['SIN ESTUDIOS A', 'SIN ESTUDIOS B']
        dfAux['SIN ESTUDIOS'] = dfAux[columns_list].sum(axis=1)
        
        columns_list = ['ESTUDIOS SECUNDARIOS A', 'ESTUDIOS SECUNDARIOS B', 'ESTUDIOS SECUNDARIOS C', 'ESTUDIOS SECUNDARIOS D']
        dfAux['ESTUDIOS SECUNDARIOS'] = dfAux[columns_list].sum(axis=1)
        
        columns_list = ['ESTUDIOS SUPERIORES B', 'ESTUDIOS SUPERIORES C', 'ESTUDIOS SUPERIORES D', 'ESTUDIOS SUPERIORES E', 'ESTUDIOS SUPERIORES F', 'ESTUDIOS SUPERIORES G']
        dfAux['ESTUDIOS SUPERIORES'] = dfAux[columns_list].sum(axis=1)
        
        # BORRAR COLUMNAS 
        dfAux.drop(dfAux.columns[[1, 2, 4, 1,2,4,5,6,7,8,9,10,11,12,13,14]], axis = 1, inplace = True)
            
        if i == 0:
            dfPreProcesadoFull = dfAux
        else:
            dfPreProcesadoFull = pd.concat([dfPreProcesadoFull,dfAux ])                
        #Contadores
        contador_x = contadorY        
        i = i + 1
        contYear = contYear + 1
    print(dfPreProcesadoFull)
    dfPreProcesadoFull.to_excel("../../data_preprocesada_N1/nivel_educacion_madrid_2018_2021.xlsx")
    
#Lectura de excel edades_2021.xls
df = pd.read_excel('../../original_data/nivel_estudios_2018-2021.xls', 
                   sheet_name=0, 
                   skiprows= 6 ,
                   usecols="A,B,C,D,E,F,G,H,I,J,K,L,M,N,O")

iteracion_callback(df)

                         BARRIO  ESTUDIOS PRIMARIOS  ANIO  SIN ESTUDIOS  \
0                        Centro              9491.0  2018        3681.0
1                       Palacio              1500.0  2018         572.0
2                   Embajadores              4080.0  2018        1841.0
3                        Cortes               630.0  2018         213.0
4                      Justicia               833.0  2018         258.0
..                          ...                 ...   ...           ...
167            Alameda de Osuna               729.0  2020         193.0
168                  Aeropuerto               227.0  2020         128.0
169  Casco Histórico de Barajas               768.0  2020         426.0
170                       Timón               624.0  2020         315.0
171                  Corralejos               213.0  2020         109.0

     ESTUDIOS SECUNDARIOS  ESTUDIOS SUPERIORES
0                 41843.0              57787.0
1                  6991.0              10090.0
2                 14854.0              17073.0
3                  3196.0               5116.0
4                  4749.0               8208.0
..                    ...                  ...
167                5753.0               8223.0
168                 844.0                245.0
169                3406.0               1593.0
170                3982.0               4135.0
171                1408.0               3334.0

[516 rows x 6 columns]

/var/folders/nn/n7p73v0s1y1926c1v_r4k0yc0000gn/T/ipykernel_6152/1427793515.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfAux['ANIO'] = (2018+contYear)