In [40]:
import pandas as pd

In [105]:
dfHospedaje = pd.read_csv('../../original_data/kaggle/listings.csv')
dfHospedaje['ANIO'] = pd.to_datetime(dfHospedaje['last_review']).dt.year
dfHospedaje = dfHospedaje[['id','neighbourhood','latitude', 'longitude', 'room_type', 'ANIO']]

dfHospedaje = dfHospedaje.rename(columns = {'id': 'ID',
                                  'neighbourhood': 'BARRIO',
                                  'latitude': 'LATITUD',
                                  'longitude': 'LONGITUD',
                                  'room_type': 'CATEGORIA'}, inplace = False)
# Todo mayuscula
dfHospedaje['BARRIO'] = dfHospedaje['BARRIO'].str.upper()
dfHospedaje['CATEGORIA'] = dfHospedaje['CATEGORIA'].str.upper()

# Elimina valores NA en el campo fecha
dfHospedaje = dfHospedaje.dropna()

# Filtra anios desde el 2017
dfHospedaje = dfHospedaje[dfHospedaje['ANIO'] > 2017]

# Verifica datos duplicados
dfHospedajeDeleteDuplicados = dfHospedaje[dfHospedaje.duplicated(['LATITUD', 'LONGITUD'])]

# Elimina datos duplicados
dfHospedaje.drop(dfHospedaje[dfHospedaje['ID'] == 17453051 ].index, inplace = True)
dfHospedaje.drop(dfHospedaje[dfHospedaje['ID'] == 17809905 ].index, inplace = True)
dfHospedaje.drop(dfHospedaje[dfHospedaje['ID'] == 20011461 ].index, inplace = True)
dfHospedaje.drop(dfHospedaje[dfHospedaje['ID'] == 22312525 ].index, inplace = True)
dfHospedaje.drop(dfHospedaje[dfHospedaje['ID'] == 23576224 ].index, inplace = True)
dfHospedaje.drop(dfHospedaje[dfHospedaje['ID'] == 35217403 ].index, inplace = True)
dfHospedaje.drop(dfHospedaje[dfHospedaje['ID'] == 38310467 ].index, inplace = True)

print(dfHospedaje)

dfHospedaje.to_excel("../../data_preprocesada_N1/hospedaje.xlsx")

             ID          BARRIO   LATITUD  LONGITUD        CATEGORIA    ANIO
0          6369  HISPANOAMÉRICA  40.45628  -3.67763     PRIVATE ROOM  2019.0
1         21853        CÁRMENES  40.40341  -3.74084     PRIVATE ROOM  2018.0
3         24836        JUSTICIA  40.41995  -3.69764  ENTIRE HOME/APT  2019.0
4         26825         LEGAZPI  40.38985  -3.69011     PRIVATE ROOM  2019.0
5         30320             SOL  40.41552  -3.70346  ENTIRE HOME/APT  2019.0
...         ...             ...       ...       ...              ...     ...
20720  38593197        PORTAZGO  40.38460  -3.65037  ENTIRE HOME/APT  2019.0
20730  38602421      GAZTAMBIDE  40.43574  -3.71222      SHARED ROOM  2019.0
20743  38618159          OPAÑEL  40.39072  -3.72329  ENTIRE HOME/APT  2019.0
20788  38674740         PALACIO  40.41250  -3.71472  ENTIRE HOME/APT  2019.0
20807  38698095      SAN ANDRÉS  40.31948  -3.70278     PRIVATE ROOM  2019.0

[15113 rows x 6 columns]

In [106]:
# df = pd.read_csv('../../original_data/kaggle/listings.csv')
# df['yyyy'] = pd.to_datetime(df['last_review']).dt.year
# df = df[['name','neighbourhood','latitude', 'longitude', 'yyyy']]
# # df['yyyy'] = pd.to_datetime(df['last_review']).dt.year
# # df.isnull().sum()
# df = df.groupby(['yyyy','neighbourhood','name','latitude','longitude']).count()
# df